Bases de atos1/App_WebReferences/ServiceReference1/EPATEC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Epatec.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Epatec.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Epatec.com">
      <s:element name="Parsear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="frase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParsearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParsearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ParsearSoapIn">
    <wsdl:part name="parameters" element="tns:Parsear" />
  </wsdl:message>
  <wsdl:message name="ParsearSoapOut">
    <wsdl:part name="parameters" element="tns:ParsearResponse" />
  </wsdl:message>
  <wsdl:portType name="EPATECSoap">
    <wsdl:operation name="Parsear">
      <wsdl:input message="tns:ParsearSoapIn" />
      <wsdl:output message="tns:ParsearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EPATECSoap" type="tns:EPATECSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parsear">
      <soap:operation soapAction="http://Epatec.com/Parsear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EPATECSoap12" type="tns:EPATECSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parsear">
      <soap12:operation soapAction="http://Epatec.com/Parsear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EPATEC">
    <wsdl:port name="EPATECSoap" binding="tns:EPATECSoap">
      <soap:address location="http://localhost:49613/EPATEC.asmx" />
    </wsdl:port>
    <wsdl:port name="EPATECSoap12" binding="tns:EPATECSoap12">
      <soap12:address location="http://localhost:49613/EPATEC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>